$MAIN_COLOR1:#FDF5F4;
$MAIN_COLOR2:#F4E1DD;
$MAIN_COLOR3:#BD937B;
$GOLD_COLOR:#B39365;
.comments__container{
    margin: 0px 40px;
    background-color:$MAIN_COLOR2;
    width: 800px;
    font-size: 1rem;
    color: #BD937B;
}
.addComment__btn-container{
    margin-left: 14px;
}
.addComment__btn{
    color: #BD937B;
        background-color:#F4E1DD;
        text-decoration: underline;
}
.comment__container{
    background-color: #FDF5F4;
    margin: 4px;
    padding: 4px;
}
.comment__container:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.comment-icon{
    background-color: #FDF5F4;
}
.comment-elements{
    display: flex;
    justify-content: space-between;
}
.elements__text{
    font-size: 0.75rem;
}

.card-comments{
    margin-bottom: 40px;
}
.comment__list-constainer{
    padding-bottom: 40px;
}