@import "../../../../../style/variables";
.about__container{
    display: flex;
    color: $MAIN_COLOR3_BOLD;
    &-image{
        max-width: 800px;
        max-height: auto;
    }
    &-text{
        
    }
}