@import "../../../../../style/variables";
.client__card-flex{
    display: flex;
    justify-content: space-between;
}
.client__card{
    font-size: 0.8rem;
    line-height: 1rem;
}
.client__card-link{
    background-color: $MAIN_COLOR1;
    color: $MAIN_COLOR3;
    margin-top: 25px;
   text-decoration:underline;
}