// Colors
$MAIN_COLOR1:#FDF5F4;
$MAIN_COLOR2:#F4E1DD;
$MAIN_COLOR3:rgb(189, 147, 122);
$MAIN_COLOR4:#e5bbb3;
$MAIN_COLOR3_BOLD:#7e563e;
$GOLD_COLOR:#B39365;
$NUTRITION_COLOR1:#BD937A;
$NUTRITION_COLOR2:#FDFEEC;

.flex {
    display: flex;
    justify-content: center;
}