$MAIN_COLOR1:#FDF5F4;
$MAIN_COLOR2:#F4E1DD;
$MAIN_COLOR3:#BD937B;
$GOLD_COLOR:#B39365;
.diary__trainer-name{
    margin: 10px;
    font-size: 1rem;
}
.diary__trainer{
    margin: 40px 20px 20px 40px;
   color: #BD937B;
}
.table-btn{
    background-color: #F4E1DD;
    color: #BD937B;
    text-decoration: underline
}  
.table__container{
    width: 800px;
 

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    
}
.table__diary{
    
    border-collapse: collapse;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    color: $MAIN_COLOR3;
    text-align: center;
    font-size: 0.75rem;
    background-color: $MAIN_COLOR1;
}
.table__diary td {
    border: solid 0.5px $GOLD_COLOR;

}

p.vertical{

   text-align: center;
} 
.btn-save{
    background-color: #F4E1DD;
    text-decoration: underline;
}
.table__cell{
    background-color: #FDF5F4;
    padding: 0;
}
.table__cell-input{
    background-color: #FDF5F4;
    width: 100%;
    height: 30px;
    margin: 0;
    color: #BD937B;
    text-align: center;
}