$MAIN_COLOR1:#FDF5F4;
$MAIN_COLOR2:#F4E1DD;
$MAIN_COLOR3:#BD937B;
$GOLD_COLOR:#B39365;
.clientpage__container{
    width: 500px;
    margin: 0 auto;
    color:#BD937B;
    font-size: 1rem;
    padding: 0px 0px 40px 0px;

}
.clientpage__header{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.clientpage__header-btn{
    background-color: #F4E1DD;
    color: #BD937B;

}