$MAIN_COLOR1:#FDF5F4;
$MAIN_COLOR2:#F4E1DD;
$MAIN_COLOR3:#BD937B;
$GOLD_COLOR:#B39365;
.diary__trainer .diary-container{
    max-width: 600px;
   
}
.select-client{
    background-color: $MAIN_COLOR2;
}
.diary__layout{
    display: flex;
}
.ant-picker-calendar .ant-picker-calendar-header{
    justify-content:center;
}
.ant-radio-button.ant-radio-button-checked{
    border-color: #B39365;
}
.ant-picker-calendar{
    background-color: #FDF5F4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;

}
.ant-picker-body{
    background-color: #FDF5F4;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    
}
.calendar__container{
    margin: 70px 20px 20px 20px;
    height: 420px;

}
.client__container{
    margin: 20px;
    background-color: #FDF5F4;
    border-radius: 10px;
    padding: 10px;
    color: #BD937B;
}
.ant-picker-cell-inner.ant-picker-calendar-date{
    max-height: 50px;
}
.ant-picker-cell-inner.ant-picker-calendar-date.ant-picker-calendar-date-today{
background-color: #F4E1DD;
border-top: solid 2px $GOLD_COLOR;
}
.ant-picker-calendar-date-value{
    color: #BD937B;
    text-align: center;
}
.ant-picker-calendar-date-content{
    text-align: center !important;
    color: #BD937B !important;
}
.ant-picker-calendar-date-value::after{
    color: $GOLD_COLOR;
}
.calendar-icon{
    margin: 1px;
}
.ant-picker-date-panel{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    background-color: #F4E1DD;
}
.ant-picker-panel{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    background-color: #F4E1DD !important;
}
.text{
    color: #BD937B;
    font-size: 1rem;
    margin: 0 40px;
}