@import "../../../../../../style/variables";

.calendarGrid__wrapper{
    display: grid;
    background-color: $MAIN_COLOR1;
    color: $MAIN_COLOR3;
    width: 100%;
    grid-template-columns: repeat(7,1fr);
}
.calendarCell-header{
    color: $MAIN_COLOR3_BOLD;
    min-height: 40px;
    min-width: 140px;
    display: flex;
    justify-content: end;
    padding: 10px;
}
.calendarCell{
    min-height: 80px;
    min-width: 140px;
    outline: 1px solid $MAIN_COLOR2;
    padding: 1px;
    &-row{
        display: flex;
        justify-content: flex-end;
    }
    &-day{
        height: 33px;
        width:  33px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        &-currentDay{
            background-color: rgba(245, 198, 189, 0.5);
            border-radius: 50%;
            height: 100%;
            width: 100%; 
            display: flex;
            align-items: center;
            justify-content: center;  
        }
    }
    
}
.isWeekend{
    background-color: rgb(252, 238, 235);
    outline-color: #e0cbc7;
}
.isDayOfSelectedMonth{
    color: $MAIN_COLOR3_BOLD;
    font-weight: 410;
}