$MAIN_COLOR1:#FDF5F4;
$MAIN_COLOR2:#F4E1DD;
$MAIN_COLOR3:#BD937B;
$GOLD_COLOR:#B39365;

.header {
    background-color: $MAIN_COLOR1;
    font-size: 1rem;
    height: 3em;
    display: flex;
    margin-bottom: 20px;
    
}
.header__menu {
    display: flex;
}
.header__icons {
    display: flex;
}
.icon{
    margin: 0px 3px
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
	color: $MAIN_COLOR3;
}
a:hover{
    color: $GOLD_COLOR  ;
}
.header__item {
    
    padding: 10px;
    border-radius: 0.5em;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.header__item:last-child {
    border: solid 1px $GOLD_COLOR;
    color: $GOLD_COLOR;
    font-weight: 500;
}

.header__item:hover{
    border: solid 1px $GOLD_COLOR;
    color: $GOLD_COLOR;
    font-weight: 500;
}