@import "../../../../../style/variables";
.trainingInfo__container{
    background-color: $MAIN_COLOR1;
    color: $GOLD_COLOR;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:  $MAIN_COLOR3;
     }
     :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $MAIN_COLOR3;
     }
     ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $MAIN_COLOR3;
     }
     :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    $MAIN_COLOR3;
     }
}
.trainingInfo{
    &-textField{
        background-color: $MAIN_COLOR1;
        width:215px;
        border-bottom: solid 1px $MAIN_COLOR3;
    }
    &-addBtn{
       background-color: $MAIN_COLOR1;
    }
}
