@import "../../../../../style/variables";
@import "../../../../../style/mixins/response-mixin.scss";
.workouts{
    &__block{
        position: absolute;
        top: 15%; 
        left: 70%;
        z-index: 2;
       
        &-bage{
            margin: 2em auto;
            width: max-content;
            background-color: hsla(0, 0%, 85%, 0.422);
            padding: 0.4em;
            color: $GOLD_COLOR;
            text-align: center;
            line-height: 1.5em;
            border-radius: 0.5em;
        }
    }
}
.workouts__phones{
    display: none;
}
.workouts__info{
     margin-top: 69%;
    &-lable{
        &-logo{
             &-icon{
                 text-align: center;
                 width: 170px;
                 height: 70px;
                 opacity: 70%;
             }
         }
        display: flex;
        justify-content: center;
        align-items: center;
        &-text{
            color: $GOLD_COLOR;
            font-style: italic;
            font-weight: 400;
            margin-top: 20px;
            margin-left: 4px;
        }
    }
}
.workouts__about{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
@media screen and (max-width: 1135px) {
    .workouts__block{
        left: 67%;
        top: 12%;
      
    }
}
@media screen and (max-width: 1050px) {
    .workouts__block{
        left: 65%;
        top: 12%;
    }
}
@include laptop {
    .workouts__block{
        left: 63%;
        top: 10%;
        &-logo{
            &-icon{
                width: 300px;
                height: 130px;
                opacity: 70%;
            }
        }
    }
}
@media screen and (max-width: 810px) {
    .workouts__block{
        left: 67%;
        top: 10%;
        &-logo{
            &-icon{
                width: 200px;
                height: 100px;
                opacity: 70%;
            }
        }
        &-bage{
           font-size: 1rem;
            padding: 0.4em;
            color: $GOLD_COLOR;
            text-align: center;
            line-height: 1.5em;
            border-radius: 0.5em;
        }
    }

}
@include tablets {
    .workouts__info-lable-text{
        font-size: 1rem;
    }
}
@include phones {
    .workouts__info-lable-logo-icon{
        width: 140px;
        height: 56px;
    }
    .workouts__info-lable-text{
        font-size: 0.8rem;
    }
}
@media screen and (max-width:619px){
    .workouts{
        display: none;
    }
    .workouts__phones{
        display: block;
        position: relative;
        padding-bottom: 1em;
        align-items: center;
        text-align: center;
        &-image{
            position: absolute;
            left: 10%;
            top: 10%;
        }
        &-laptop{
            position: absolute;
            top: 1200%;
            left: 65%;
        }
        h1{
            position: absolute;
            top: 400%;
        }
    }
    
}
.workouts__for{
    background-color: #EACCC7;
    padding: 1em 0;
    color: #472B29;

    &-container{
        max-width: 1240px;
        margin: 0 auto;
        text-align: center;
        &-header{
            color: #654532;
            font-weight: 500;
            margin-bottom: 1em;
        }
        &-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
.workouts__rate-color{
    background-color: #EACCC7;
    padding-bottom: 20px;
}

.workouts__rate{
    background-color: white;
    margin: 0 auto;
    text-align: center;
    max-width: 1060px;
    border-radius: 10px;
    &-title{
        color: $GOLD_COLOR;
        font-weight: 500;
        padding: 1em;
    }
    &-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-card{
          max-width: 330px;
          margin:  10px;
          font-size: 1rem;
            &-btn{
                margin: 0 auto;
                background-color: #EB9281;
                padding: 1em;
                max-width: 270px;
                border-radius: 20px;
                color: white;
                u{
                    font-size: 0.625rem;
                }
                h1{
                    
                }
            }
            &-text{
                font-size: 0.8rem;
                color: $GOLD_COLOR;
                margin-top: 1.5em;
            }
        }
    }
}
@media screen and (max-width:1170px){
    .workouts__rate{
        max-width: 830px;
    }
}
@media screen and (max-width:910px){
    .workouts__rate{
        max-width: 730px;
    }
}
@media screen and (max-width:760px){
    .workouts__rate{
        max-width: 350px;
    }
}
@media screen and (max-width:380px){
    .workouts__rate{
        margin: 0 15px;
    }
}